Django>=4.2,<5.0
django-cms>=4.1.0,<5.0
django-classy-tags>=4.1.0
django-formtools>=2.5.0
django-treebeard>=4.8.0
django-sekizai>=4.1.0
django-filer>=3.5.0
easy-thumbnails>=2.9
djangocms-admin-style>=2.0.2
djangocms-attributes-field>=4.1.2
djangocms-bootstrap4>=3.1.1
djangocms-file>=3.0.1
djangocms-googlemap>=2.2.0
djangocms-icon>=2.1.1
djangocms-link>=4.0.0
djangocms-picture>=4.1.1
djangocms-style>=3.1.0
djangocms-text-ckeditor>=5.1.7
djangocms-video>=3.1.0
django-tinymce>=5.0.0
dj-database-url>=2.1.0
psycopg2-binary>=2.9.0
gunicorn>=21.0.0
whitenoise>=5.2.0
Pillow>=10.0.0
setuptools<70