<html>
<div data-aos="fade-up" class="row">
  <div class="col-md-10 mx-auto">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
      <!-- Carousel indicators -->
      <!--
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          </ol>
          -->
      <!-- Wrapper for carousel items -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row justify-content-center">
            <div>
              <div class="card">
                <img src="{{ instance.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">
                    {{ instance.title }}
                  </h5>
                  <a type="button" class="btn btn-primary collapsible">View</a>
                  <div class="content">
                    <p>
                      {% autoescape off %} 
                      {{ instance.description }} 
                      {% endautoescape %}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Wrapper for carousel items -->
<!--
  <div data-aos="fade-up" class="row">
          <div class="col-md-10 mx-auto">
            <div
              id="myCarousel"
              class="carousel slide"
              data-ride="carousel"
              data-interval="0"
            >
          -->
<!-- Wrapper for carousel items -->
<!--
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row justify-content-center">
                    <div>
                      <div class="card">
                        <img src="{{ instance.image.url }}" alt="Generic placeholder image">
                        <div class="card-body">
                          <h5 class="card-title">
                            {{ instance.title }}
                          </h5>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          </div>
        </div>
      -->
<!--
                  <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row justify-content-center">
                      <div>
                        <div class="card">
                          <img src="{{ instance.image.url }}" alt="Generic placeholder image">
                          <div class="card-body">
                            <h5 class="card-title">
                              {{instance.title}}
                            </h5>
                            <a href="#" class="btn btn-primary">View</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              -->

<!--
  <section>
        <div class="container text-center">
          <div class="content-section-heading text-center">
            <h2 class="mb-5 section-title" data-aos="fade-up">Products</h2>
          </div>
          <div data-aos="fade-up" class="row">
            <div class="col-md-10 mx-auto">
              <div
                id="myCarousel"
                class="carousel slide"
                data-ride="carousel"
                data-interval="0"
              >
                <!-- Wrapper for carousel items -->
<!--
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row justify-content-center">
                      <div>
                        <div class="card">
                          <img src="{{ instance.image.url }}" alt="Generic placeholder image">
                          <div class="card-body">
                            <h5 class="card-title">
                              {{instance.title}}
                            </h5>
                            <a href="#" class="btn btn-primary">View</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              -->
<!-- Carousel controls -->
<!--
              <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
              </a>
              <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
              </a>
              <!--
              </div>
            </div>
          </div>
        </div>
    </section>
  -->
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
</html>